<div class="task">
  <dl class="ui list">
    <dt>Total Quantity</dt>
    <dd class="ui label">{{task.maxqty}} {{task.unit}}</dd>
  </dl>
  <div class="ui card">
    <h4>Remarks</h4>
    <p *ngFor="let rem of task.remarks"><span class="ui label">{{rem.date | date:'mediumDate'}}</span> {{rem.text}}</p>
  </div>

  <table class="ui table celled">
    <thead>
      <h4>Issues</h4>
    </thead>
    <tbody>
      <tr *ngFor="let issue of task.issues">
        <td><span class="ui label">{{issue.date | date:'mediumDate'}}</span> {{issue.text}} </td>
        <td><span>{{issue.status}}</span></td>
        <td><button>Resolve</button></td>
      </tr>
    </tbody>
  </table>
  <table class="ui table compact celled">
    <thead>
      <div><span class="ui header">{{task.name}}</span><span class="ui label">{{tid}}</span></div>
    </thead>
    <tbody>
      <tr *ngFor="let c of task.completion; let first = first">
        <td>
          <div [ngClass]="{'ui green ribbon label date': first}">{{c.date | date:'mediumDate'}}</div>
        </td>
        <td>{{c.completed}}
          <progress value="{{c.completed}}" max="{{task.maxqty}}"></progress>
        </td>
        <td>{{c.status}}</td>
        <td>{{c.remark}}
      </tr>
    </tbody>
  </table>
</div>