<h2>{{p?.name}}</h2>

<div class="ui top attached tabular menu">
    <div class="item" [ngClass]="{'active':tab === 'exec'}" (click)="tab = 'exec'">Execution</div>
    <div class="item" [ngClass]="{'active':tab==='settings'}" (click)="getSettings()">Settings</div>
</div>

<div class="ui bottom attached tab segment" [ngClass]="{'active':tab==='exec'}">
    <div style="display:flex; flex-wrap: wrap; flex-direction: column">
        <div style="flex:1; position: relative;">
            <div class="ui mini loader active" *ngIf="ifChartLoading">
            </div>
            <div #activitiesChart style="height: 500px"></div>
        </div>
        <div style="flex:1">
            <table class="ui compact unstackable table">
                <thead>
                    <tr>
                        <th>{{p?.settings.labels.netgroup}}</th>
                        <th>{{p?.settings.labels.network}}</th>
                        <th>{{p?.settings.labels.site}}</th>
                        <th>Total {{p?.settings.labels.activity}}</th>
                        <th>Completed {{p?.settings.labels.activity}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let g of (p?.snapshot?.netgroups | toPairs); let gi = index">
                        <ng-container *ngFor="let net of g[1]?.networks | toPairs; let ni = index">
                            <ng-container *ngFor="let site of net[1].sites | toPairs; let si = index">
                                <tr *ngIf="g[1]?.name">
                                    <td><span *ngIf="ni === 0 && si === 0">{{g[1]?.name}}</span></td>
                                    <td><span *ngIf="si === 0">{{net[1].name}}</span></td>
                                    <td><a (click)="toSite(site[0])">{{site[1].name}}</a></td>
                                    <td>{{site[1].total}}</td>
                                    <td>
                                        <div [ngStyle]="{'width': site[1].total + '%'}" style="background-color: #AFA6A6">
                                            <div style="padding: 0; background-color: darkgreen; color: whitesmoke" [ngStyle]="{'width': site[1].completed /site[1].total * 100+ '%'}">
                                                <span style="padding-left: 4px; text-shadow: 0 0 1px">{{site[1].completed}}</span>
                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <!--
     <div *ngFor="let group of networkGroups | toPairs">
        <h4 class="ui header">{{group[1]?.name}}</h4>
        <app-network *ngFor="let nid of group[1]?.groups | toPairs" [nid]='nid[0]'></app-network>
    </div> 
    -->
</div>
<div class="ui bottom attached tab segment" [ngClass]="{'active':tab==='settings'}">
    <h4>Project Activity Scope</h4>
    <div class="ui list">
        <div class="item" *ngFor="let act of actSettings | toPairs">
            <div class="ui slider checkbox">
                <input type="checkbox" name="{{act[0]}}" (change)="settingActivitykChanged(act[0], act[1].name)" [checked]='isActivityUnderScope(act[0])'>
                <label>{{act[1].name}}</label>
                <button class="ui mini button" (click)="selAct = act" *ngIf="isActivityUnderScope(act[0])">Summary Tasks</button>
            </div>
        </div>
    </div>
    <div *ngIf="selAct">
        <h5>Summary Task</h5>
        <div class="ui list" *ngFor="let task of selAct[1].tasks | toPairs">
            <div class="item">
                <div class="ui slider checkbox">
                    <!--<input type="checkbox" name="{{task[0]}}" (change)="setTaskToSummary(task[0])" [checked]="isTaskInSummary(task[0])"> -->
                    <input type="checkbox" name="{{task[0]}}" (change)="setTaskToSummary(task[0])" [checked]="task[1].summary" disabled>
                    <label>{{task[1].name}}</label>
                </div>
            </div>
        </div>
    </div>