/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Titillium Web';
}
#map {
    width: 98%;
    height: 600px;
    margin: auto;
}

@media print {
    .nonprint {
        visibility: hidden;
    }
    #print {
        position: absolute;
        top: 1em;
        width: 96%;
    }
}


.a4 {
    width: (210-20)mm;
    height: (297-20)mm;
}

.legal {
    width: (216-20)mm;
    height: (356-20)mm;
}


/*td * {
    /*margin-left: 4px;*/
    /*vertical-align: middle;
    padding-right: 10px;
}*/


div{
    padding-left: 4px;
}

.figure{
    font-weight: bold;
}


    .box{
        border: 1px solid grey;
        box-shadow: 0px 0px 0.5px;

    }
    .box .topbar {
        background-color: deepskyblue;
                padding: 4px;
        color: whitesmoke;
        font-family: sans-serif;
        display: flex;
        justify-content: space-between
    }
    .box .topbar .right{
        cursor: pointer;
    }
    .box .body{
        padding: 4px;
    }